body, table, span{
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
}
div{
	margin-top: 5px;
	margin-left: 5px;
}
button{
	border-width: 0;
	font-size: 11px;
	padding: 5px 15px;
	background-color: #e4e4e4;
}
button:hover {
	background-color: #eeeeee;
}

.legendTitle {
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}
.layoutSeparator {
	background-color: #cccccc;
	height: 1px;
}
.dim {
	color: #848484;
}
.noWrap {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.blue {
	color: #0070aa;
}
.huge {
	font-weight: bold;
	font-size: 24px;
}
.title {
	font-weight: bold;
	font-size: 18px;
}